:root {
  --debug-outline: 0px;
  --foreground-colour: rgb(255, 255, 255);
  --background-colour: rgb(0, 0, 0);
  --font-size: 16px;
  --font-family: monospace, sans-serif;
  --font-weight: 500;
  --scrollbar-slider: rgb(84, 93, 103);
  --scrollbar-gutter: transparent;
  --scrollbar-colour: var(--scrollbar-slider) var(--scrollbar-gutter);
  --size: 42px;
  --rows: 9;
  --cols: 9;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  scrollbar-color: var(--scrollbar-slider) var(--scrollbar-gutter);
  box-shadow: inset 0 0 0 var(--debug-outline) var(--foreground-colour);
}

#page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#grid {
  display: grid;
  width: auto;
  height: auto;
  overflow: auto;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  box-sizing: border-box;
}


#information {
  height: 32px;
  width: auto;
  display: flex;
  box-sizing: border-box;
  margin: 8px;
  flex-direction: row;
  justify-content: center;
  box-shadow: inset 0 0 0 2px white;
}

#bomb-counter {
  height: 32px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  user-select: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px white;
}

#refresh-button {
  height: 32px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px white;
}

#clock {
  height: 32px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  user-select: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px white;
}

.cell {
  display: flex;
  width: var(--size);
  height: var(--size);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border: 1px solid black;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  user-select: none;
  cursor: pointer;
  color: transparent;
}

.cell:hover {
  background-color: rgba(148, 148, 148, 1.0);
  border: 1px solid grey;
  transform: translateY(-4px);
}

.cell[data-revealed="true"] {
  background-color: blanchedalmond;
  box-shadow: 1px solid black;
}

#grid[data-mode="default"] .cell[data-flagged='true'] {
  box-shadow: inset 0 0 0 2px blueviolet;
}

.cell[data-text='1'] {
  color: rgb(0, 0, 255);
}

.cell[data-text='2'] {
  color: rgb(0, 255, 0);
}

.cell[data-text='3'] {
  color: rgb(255, 0, 0);
}

.cell[data-text='4'] {
  color: rgb(0, 0, 128);
}

.cell[data-text='5'] {
  color: rgb(128, 0, 0);
}

.cell[data-text='6'] {
  color: rgb(0, 128, 128);
}

.cell[data-text='7'] {
  color: rgb(0, 0, 0);
}

.cell[data-text='8'] {
  color: rgb(255, 255, 255);
}

.cell[data-revealed="false"] {
  color: transparent;
}

.cell[data-revealed="true"][data-text='B'] {
  background-color: red;
  color: white;
}

.cell[data-revealed="true"][data-value='B'] {
  background-color: red;
  color: white;
}

.cell[data-revealed="false"][data-safest='true'] {
  box-shadow: inset 0 0 0 2px white;
}

#grid[data-mode="xray"] .cell[data-insightful="false"] {
  background-color: var(--background-colour);
}

#toolbar-container {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  margin: 24px;
  flex-direction: column-reverse;
  background-color: transparent;
  overflow: hidden;
  box-shadow: inset 0 0 0 var(--debug-outline) green;
  z-index: 99;
}

#toolbar-container:hover {
  overflow: visible;
}

.toolbar-row {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  overflow: hidden;
  flex-direction: row-reverse;
  box-shadow: inset 0 0 0 var(--debug-outline) teal;
}

.toolbar-row:hover {
  overflow: visible;
}

.toolbar-button {
  width: 32px;
  height: 32px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(17, 60, 70, 1.0);
  user-select: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 var(--debug-outline) yellow;
}

.corner {
  position: absolute;
  color: white;
  font-size: 6px;
  font-weight: 900;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-left { 
  background: rgba(255, 0, 0, 0.3); 
  top: 0; 
  left: 0; 
}
.top-right { 
  background: rgba(0, 0, 255, 0.3); 
  top: 0; 
  right: 0; 
}
.bottom-left { 
  background: rgba(0, 255, 0, 0.3); 
  bottom: 0; 
  left: 0; 
}
.bottom-right { 
  background: rgba(255, 255, 0, 0.3); 
  bottom: 0; 
  right: 0; 
}